<p-toast/>

<p-table
    #dt
    [value]="usuariosTabla()"
    rowHover
    dataKey="id"
    [globalFilterFields]="['nombre', 'alias', 'cumpleanosStr']"
    responsiveLayout="stack"
    breakpoint="750px"
    [multiSortMeta]="sortMeta"
    (onStateRestore)="onStateRestored($event)"
    sortMode="multiple"
    stateStorage="local"
    stateKey="orden-tabla-usuarios"
>
    <ng-template #caption>
        <div class="flex items-center justify-between gap-2">
            <div class="flex items-center gap-2">
                <h4 class="m-0 text-center">Usuarios</h4>
                <i class="pi pi-info-circle text-blue-500" pTooltip="La elección del orden de la tabla se guardará para siguientes usos"></i>
            </div>
            <div class="flex gap-3 items-center">
                <p-button (onClick)="usuarioDialog = true" class="flex gap-2 items-center">
                    <span>Añadir usuario</span>
                    <i class="pi pi-plus"></i>
                </p-button>
            </div>
        </div>
        <p-iconfield iconPosition="left" class="w-full mt-2">
            <p-inputicon>
                <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText pSize="small" type="text" class="w-full" [(ngModel)]="filtroSimple" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar..." />
        </p-iconfield>
    </ng-template>
    <ng-template #header>
        <tr>
            <th pSortableColumn="alias">
                Alias
                <p-sortIcon field="alias" />
            </th>
            <th pSortableColumn="nombre">
                Nombre
                <p-sortIcon field="nombre" />
            </th>
            <th pSortableColumn="cumpleanos">
                Cumple
                <p-sortIcon field="cumpleanos"/>
            </th>
            <th pSortableColumn="distsUltimosSprints">
                <span class="mr-2">Dists</span>
                <p-sortIcon class="mr-1" field="distsUltimosSprints"/>
                <i class="pi pi-info-circle text-blue-500" [pTooltip]="'Solo contarán los últimos ' + limiteSprintsContarSubidas + ' sprints'"></i>
            </th>
            <th pSortableColumn="warsUltimosSprints">
                <span class="mr-2">Wars</span>
                <p-sortIcon class="mr-1" field="warsUltimosSprints"/>
                <i class="pi pi-info-circle text-blue-500" [pTooltip]="'Solo contarán los últimos ' + limiteSprintsContarSubidas + ' sprints'"></i>
            </th>
            <th pSortableColumn="earsUltimosSprints">
                <span class="mr-2">Ears</span>
                <p-sortIcon class="mr-1" field="earsUltimosSprints"/>
                <i class="pi pi-info-circle text-blue-500" [pTooltip]="'Solo contarán los últimos ' + limiteSprintsContarSubidas + ' sprints'"></i>
            </th>
            <th pSortableColumn="vecesResponsableUltimosSprints">
                <span class="mr-2">Subidas</span>
                <p-sortIcon class="mr-1" field="vecesResponsableUltimosSprints"/>
                <i class="pi pi-info-circle text-blue-500" [pTooltip]="'Solo contarán los últimos ' + limiteVecesResponsable + ' sprints'"></i>
            </th>
            <th pSortableColumn="vecesMGLUltimosSprints">
                <span class="mr-2">MGL</span>
                <p-sortIcon class="mr-1" field="vecesMGLUltimosSprints"/>
                <i class="pi pi-info-circle text-blue-500" [pTooltip]="'Solo contarán los últimos ' + limiteSprintsVecesMGL + ' sprints'"></i>
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-usuario>
        <tr [pTooltip]="usuario?.exentoSubidas ? 'Usuario exento de generar y ser responsable de subidas' : ''">
            <td>
                <span class="flex items-center my-2 w-full m-0 p-0 max-[750px]:justify-center" [ngClass]="{'text-blue-600': usuario?.exentoSubidas}" [innerHTML]="usuario?.alias | highlightpipe : filtroSimple"></span>
            </td>
            <td>
                <span class="flex items-center my-2 w-full m-0 p-0 max-[750px]:justify-center" [ngClass]="{'text-blue-600': usuario?.exentoSubidas}" [innerHTML]="usuario?.nombre | highlightpipe : filtroSimple"></span>
            </td>
            <td>
                <span class="flex w-full m-0 p-0 max-[750px]:justify-center" [ngClass]="{'text-blue-600': usuario?.exentoSubidas}" [innerHTML]="usuario?.cumpleanosStr | highlightpipe : filtroSimple"></span>
            </td>
            <td>
                <span *ngIf="!usuario?.exentoSubidas" class="w-full flex text-white m-0 p-1 bg-blue-500 rounded justify-center">{{ usuario?.distsUltimosSprints || 0 }}</span>
            </td>
            <td>
                <span *ngIf="!usuario?.exentoSubidas" class="w-full flex text-white m-0 p-1 bg-orange-500 rounded justify-center">{{ usuario?.warsUltimosSprints || 0 }}</span>
            </td>
            <td>
                <span *ngIf="!usuario?.exentoSubidas" class="w-full flex text-white m-0 p-1 bg-red-500 rounded justify-center">{{ usuario?.earsUltimosSprints || 0 }}</span>
            </td>
            <td>
                <span *ngIf="!usuario?.exentoSubidas" class="w-full flex text-white m-0 p-1 bg-green-500 rounded justify-center">{{ usuario?.vecesResponsableUltimosSprints || 0 }}</span>
            </td>
            <td>
                <span *ngIf="!usuario?.exentoSubidas" class="w-full flex text-white m-0 p-1 bg-purple-500 rounded justify-center">{{ usuario?.vecesMGLUltimosSprints || 0 }}</span>
            </td>
            <td>
                <div class="flex gap-2 items-center max-[750px]:w-full max-[750px]:justify-between flex-wrap">
                    <i class="pi pi-calendar mr-3 text-blue-500 cursor-pointer" (click)="ponerDatosUsuario(usuario); diasLibresDialog = true" pTooltip="Días libres"></i>
                    <i class="pi pi-pencil mr-3 text-orange-500 cursor-pointer" (click)="ponerDatosUsuario(usuario); usuarioDialog = true" pTooltip="Editar"></i>
                    <i class="pi pi-trash text-red-500 cursor-pointer" (click)="eliminarUsuario(usuario)" pTooltip="Eliminar"></i>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-confirmDialog draggable="false"/>

<!-- Dialogos -->
<!-- Anadir/Editar Usuario -->
<p-dialog 
    [(visible)]="usuarioDialog" 
    [modal]="true" 
    [dismissableMask]="false"
    draggable="false"
    maximizable
    styleClass="p-3 w-[500px]"
    (onShow)="ponerFocusInputPrincipal()"
    (onHide)="formUsuario?.reset()"
>
    <ng-template pTemplate="header">
        <h2>{{ formUsuario?.get('id')?.value ? 'Editar' : 'Añadir' }} usuario</h2>
    </ng-template>
    
    <form [formGroup]="formUsuario!" (ngSubmit)="aplicarUsuario()" (keydown.enter)="aplicarUsuario()" class="flex flex-col items-center gap-4 w-full pt-2">
        <p-floatlabel variant="on" class="w-full">
            <input pInputText inputId="nombre" id="nombre" #nombre class="flex-auto w-full text-lg inputPrincipal" autocomplete="off" formControlName="nombre"/>
            <label for="nombre">Nombre y apellidos*</label>
        </p-floatlabel>
        @if (formUsuario?.get('nombre')?.dirty && formUsuario?.get('nombre')?.invalid) {
            <p-message severity="error" class="w-full">El nombre completo es obligatorio</p-message>
        }

        <p-floatlabel variant="on" class="w-full">
            <input inputId="alias" pInputText id="alias" #alias class="flex-auto w-full text-lg" autocomplete="off" formControlName="alias"/>
            <label for="alias">Alias</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
            <p-datepicker showClear [firstDayOfWeek]="1" appendTo="body" formControlName="cumpleanos" [iconDisplay]="'input'" [showIcon]="true" class="w-full" styleClass="w-full" inputId="cumpleanos" dateFormat="dd 'de' MM"/>
            <label for="cumpleanos">Cumpleaños</label>
        </p-floatlabel>

        <div class="flex gap-2 items-center text-wrap">
            <p-checkbox name="exentoSubidas" formControlName="exentoSubidas" inputId="exentoSubidas" [binary]="true"></p-checkbox>
            <label for="exentoSubidas">Exento de generar dists y ser responsable de subida</label>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="usuarioDialog = false" 
            />
            <p-button 
                [label]="formUsuario?.get('id')?.value ? 'Editar' : 'Añadir'" 
                (onClick)="aplicarUsuario()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Dias Libres -->
<p-dialog 
    [(visible)]="diasLibresDialog" 
    [modal]="true" 
    [dismissableMask]="false"
    draggable="false"
    maximizable
    styleClass="p-3 w-[500px]"
    (onShow)="ponerFocusInputPrincipal()"
    (onHide)="formUsuario?.reset()"
>
    <ng-template pTemplate="header">
        <h2>Días libres de {{ this.formUsuario?.get('alias')?.value ? this.formUsuario?.get('alias')?.value : this.formUsuario?.get('nombre')?.value }}</h2>
    </ng-template>
    
    <form [formGroup]="formUsuario!" (ngSubmit)="aplicarUsuario()" (keydown.enter)="aplicarUsuario()" class="flex flex-col items-center gap-4 w-full pt-2">
        <p-floatlabel variant="on" class="w-full">
            <p-datepicker showClear selectionMode="multiple" [readonlyInput]="true" [firstDayOfWeek]="1" appendTo="body" formControlName="vacaciones" [iconDisplay]="'input'" [showIcon]="true" class="w-full" styleClass="w-full" inputId="vacaciones" dateFormat="dd/mm/yy"/>
            <label for="vacaciones">Vacaciones</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
            <p-datepicker showClear selectionMode="multiple" [readonlyInput]="true" [firstDayOfWeek]="1" appendTo="body" formControlName="asuntosPropios" [iconDisplay]="'input'" [showIcon]="true" class="w-full" styleClass="w-full" inputId="asuntosPropios" dateFormat="dd/mm/yy"/>
            <label for="asuntosPropios">Asuntos propios</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
            <p-datepicker showClear selectionMode="multiple" [readonlyInput]="true" [firstDayOfWeek]="1" appendTo="body" formControlName="enfermedad" [iconDisplay]="'input'" [showIcon]="true" class="w-full" styleClass="w-full" inputId="enfermedad" dateFormat="dd/mm/yy"/>
            <label for="enfermedad">Bajas por enfermedad</label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="w-full">
            <p-datepicker showClear selectionMode="multiple" [readonlyInput]="true" [firstDayOfWeek]="1" appendTo="body" formControlName="otrasAusencias" [iconDisplay]="'input'" [showIcon]="true" class="w-full" styleClass="w-full" inputId="otrasAusencias" dateFormat="dd/mm/yy"/>
            <label for="otrasAusencias">Otras ausencias</label>
        </p-floatlabel>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="diasLibresDialog = false" 
            />
            <p-button 
                label="Guardar cambios" 
                (onClick)="aplicarUsuario()" 
            />
        </div>
    </ng-template>
</p-dialog>
