<p-toast/>

<p-confirmDialog styleClass="sm:w-auto" draggable="false" appendTo="body">
  <ng-template pTemplate="message" let-message>
      <div class="flex flex-col items-center w-full gap-3 border-bottom-1">
          <div class="flex w-full items-center gap-2 {{message?.message?.includes('Se solicita una subida') ? 'justify-between' : 'justify-center'}}">
              <i [ngClass]="{'invisible': message?.message?.includes('Se solicita una subida')}" [class]="'pi ' + (message?.icon ? message.icon : 'pi-exclamation-circle') + ' text-6xl text-primary-500'"></i>
          </div>
          <textarea *ngIf="message.message" class="w-full bg-transparent border-none p-0 resize-none" [ngClass]="{'text-center': !message?.message?.includes('Se solicita una subida')}" disabled>{{ message.message }}</textarea>
      </div>
  </ng-template>
</p-confirmDialog>

<p-drawer [(visible)]="visibleSidebar" header="Historial de SPs" styleClass="!w-full md:!w-80 lg:!w-[30rem]">
  <div class="flex flex-col gap-2 justify-center w-full panel-lateral">
    @for (numeroSprint of numerosSprints(); track numeroSprint) {
      <div class="flex gap-2 items-center">
        <h4 class="grow" (click)="redirigir('/sprint/' + numeroSprint)" [ngClass]="{'ruta-activa2': numeroSprint == sprintSeleccionado()}">SP{{ numeroSprint }}</h4>
        <i class="cursor-pointer pi pi-trash text-red-600" pTooltip="Eliminar Sprint" (click)="confirmarEliminarSprint(numeroSprint)"></i>
      </div>
    }
  </div>
</p-drawer>

<div class="flex flex-col min-h-[100vh] justify-center flex-wrap" [ngClass]="{'fondo-login': !cargado() || !contrasenaAcceso}">
  @if (cargado() && contrasenaAcceso) {
    <header class="flex gap-2 w-full bg-blue-600 text-white p-2 justify-between">
      <section class="flex gap-2 items-center">
        <img (click)="visibleSidebar = true" src="enaire.png" alt="Icono enaire" width="25" class="rounded cursor-pointer" pTooltip="Historial de Sprints">
        <span class="cursor-pointer hover:text-cyan-400" [routerLink]="['/sprint/', sprintSeleccionado()]" routerLinkActive="ruta-activa">SP{{sprintSeleccionado()}}</span>
        <i class="pi pi-plus cursor-pointer" style="font-size: 15px;" pTooltip="Añadir Sprint" (click)="abrirAnadirNuevoSprint()"></i>
      </section>
      <section class="flex items-center justify-center gap-2">
        <article class="cursor-pointer gap-2 items-baseline hover:text-cyan-400 flex" routerLink="/estadisticas" routerLinkActive="ruta-activa">
          <i class="pi pi-chart-bar" pTooltip="Estadísticas"></i>
          <span class="hidden sm:block">Estadísticas</span>
        </article>
        <hr class="h-4">
        <article class="cursor-pointer gap-2 items-baseline hover:text-cyan-400 flex" routerLink="/dias-libres" routerLinkActive="ruta-activa">
          <i class="pi pi-calendar" pTooltip="Días libres"></i>
          <span class="hidden sm:block">Días libres</span>
        </article>
        <hr class="h-4">
        <article class="cursor-pointer gap-2 items-baseline hover:text-cyan-400 flex" routerLink="/incidencias-mgl" routerLinkActive="ruta-activa">
          <i class="pi pi-question-circle" pTooltip="Incidencias MGL"></i>
          <span class="hidden sm:block" style="font-size: 14px;">Incidencias MGL</span>
        </article>
      </section>
      <section class="flex items-center justify-center gap-2">
        <article class="cursor-pointer gap-2 items-baseline hover:text-cyan-400 flex" routerLink="/usuarios" routerLinkActive="ruta-activa">
          <i class="pi pi-user" pTooltip="Usuarios"></i>
          <span class="hidden sm:block">Usuarios</span>
        </article>
        <hr class="h-4">
        <i class="pi pi-sign-out cursor-pointer" pTooltip="Cerrar sesión" (click)="cerrarSesion()"></i>
      </section>
    </header>
    @if (personasDiasLibresHoy()) {
      <nav *ngIf="mostrarDiaLibre" class="text-center p-2 bg-blue-500 text-white flex gap-2 justify-between items-center flex-wrap">
        <span class="grow text-center">Día libre de: <span class="text-green-400"><b>{{ personasDiasLibresHoy() }}</b></span>.</span>
        <i class="pi pi-times cursor-pointer hover:text-gray-300" (click)="mostrarDiaLibre = false"></i>
      </nav>
    }
    @if (personasQueCumplenAnoHoy()) {
      <nav *ngIf="mostrarCumpleanos" class="text-center p-2 bg-orange-600 text-white flex gap-2 justify-between items-center flex-wrap">
        <span class="grow text-center">Hoy cumple años <span class="text-green-400"><b>{{ personasQueCumplenAnoHoy() }}</b></span>. ¡Muchas Felicidades!</span>
        <i class="pi pi-times cursor-pointer hover:text-gray-300" (click)="mostrarCumpleanos = false"></i>
      </nav>
    }

    <main class="grow p-2">
      <router-outlet></router-outlet>
    </main>

    <!-- <app-footer class="w-full"></app-footer> -->
  } @else if (!cargado()) {
    <div class="w-full flex justify-center">
      <p-progress-spinner ariaLabel="loading"/>
    </div>
  } @else {
    <app-authentication (cargarInformacion)="cargarInformacion()" class="w-full flex justify-center px-2"></app-authentication>
  }
</div>

<!-- Dialogs -->
<!-- Editar numero de sprint -->
<p-dialog 
    [(visible)]="nuevoSprintDialog" 
    [modal]="true" 
    [dismissableMask]="false"
    draggable="false"
    maximizable
    styleClass="p-3 w-[500px]"
    (onHide)="formNuevoSprint.reset()"
>
    <ng-template pTemplate="header">
        <h2>Añadir Sprint</h2>
    </ng-template>
    
    <form [formGroup]="formNuevoSprint" (ngSubmit)="aplicarAnadirNuevoSprint()" (keydown.enter)="aplicarAnadirNuevoSprint()" class="flex flex-col items-center gap-4 w-full pt-2">
        <p-inputnumber formControlName="numeroSprint" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" [inputStyle]="{ width: '3rem' }">      </p-inputnumber>
        @if (formNuevoSprint.get('numeroSprint')?.touched && formNuevoSprint.get('numeroSprint')?.invalid) {
            <p-message severity="error" class="w-full">El número de Sprint es obligatorio y superior a 0</p-message>
        }
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="nuevoSprintDialog = false" 
            />
            <p-button 
                label="Añadir" 
                (onClick)="aplicarAnadirNuevoSprint()" 
            />
        </div>
    </ng-template>
</p-dialog>
