<div class="flex flex-col min-h-[100vh] justify-center items-center" [ngClass]="{'fondo-login': !cargado() || !contrasenaAcceso}">
  @if (cargado() && contrasenaAcceso) {
    <header class="flex gap-2 w-full bg-blue-600 text-white p-2 justify-between" style="border-radius: 0 0 5px 5px;">
      <section class="flex gap-2 items-center">
        <img src="enaire.png" alt="Icono enaire" width="25" class="rounded cursor-pointer" pTooltip="Historial de Sprints">
        <span class="cursor-pointer" [routerLink]="['/Sprint/', sprintSeleccionado]">SPNUMERO</span>
        <i class="pi pi-plus cursor-pointer" style="font-size: 15px;" pTooltip="Añadir Sprint"></i>
      </section>
      <section class="flex items-center justify-center gap-2">
        <i class="pi pi-chart-bar cursor-pointer" pTooltip="Estadísticas" routerLink="/estadisticas"></i>
        <i class="pi pi-calendar cursor-pointer" pTooltip="Vacaciones" routerLink="/vacaciones"></i>
      </section>
      <section class="flex items-center justify-center gap-2">
        <i class="pi pi-sign-out cursor-pointer" pTooltip="Cerrar sesión" (click)="cerrarSesion()"></i>
      </section>
    </header>

    <main class="grow p-2">
      <router-outlet></router-outlet>
    </main>

    <!-- <app-footer class="w-full"></app-footer> -->
  } @else if (!cargado()) {
    <p-progress-spinner ariaLabel="loading"/>
  } @else {
    <app-authentication class="w-full flex justify-center px-2"></app-authentication>
  }
</div>