.fondo-login {
  /* 🖼️ Ruta del archivo (ajusta la carpeta y la extensión) */
  background-image: url('/herramientas-enaire/fondo-enaire-babel.png');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.panel-lateral {
  h4 {
    margin: 0;
    text-align: center;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: cornflowerblue;
      color: white;
    }
  }
}

.ruta-activa2 {
  background-color: cornflowerblue;
  color: white;
}