@if (usuarios().length) {
    <section class="flex flex-wrap gap-3 items-center py-2">
        <!-- Leyenda -->
        <article class="flex items-center gap-1">
            <div class="w-[20px] h-[20px] rounded" style="background-color: #2563eb;"></div>
            <span class="pt-1">Vacaciones</span>
        </article>
        <article class="flex items-center gap-1">
            <div class="w-[20px] h-[20px] rounded" style="background-color: orangered;"></div>
            <span class="pt-1">Asuntos propios</span>
        </article>
        <article class="flex items-center gap-1">
            <div class="w-[20px] h-[20px] rounded" style="background-color: #16a34a;"></div>
            <span class="pt-1">Enfermedad</span>
        </article>
        <article class="flex items-center gap-1">
            <div class="w-[20px] h-[20px] rounded" style="background-color: #a855f7;"></div>
            <span class="pt-1">Otras ausencias</span>
        </article>
    </section>
    <full-calendar [options]="calendarOptions()"></full-calendar>
} @else {
    <div class="w-full flex justify-center">
      <p-progress-spinner ariaLabel="loading"/>
    </div>
}

<!-- Dialogos -->
<p-dialog 
    [(visible)]="infoDialog" 
    [modal]="true" 
    [dismissableMask]="true"
    draggable="false"
    maximizable
    styleClass="p-3 w-[500px]"
>
    <ng-template pTemplate="header">
        <h2>Días libres - <span class="bg-blue-500 text-white p-1 rounded">{{ diaSeleccionadoSpa() }}</span></h2>
    </ng-template>
    
    <div class="flex flex-col gap-2 w-full justify-center items-center flex-wrap">
        @if (vacacionesMostrarDiaSeleccionado().length) {
         <div>
            <h3 class="text-center">Vacaciones</h3>
            <div class="flex gap-2 items-center flex-wrap justify-center">
                @for (dia of vacacionesMostrarDiaSeleccionado(); track dia) {
                  <span class="p-1 text-white rounded" [style]="'background-color: ' + coloresEnum.vacaciones">{{ dia?.title }}</span>
                }
            </div>
         </div>
        }
        @if (asuntosPropiosMostrarDiaSeleccionado().length) {
         <div>
            <h3 class="text-center">Asuntos Propios</h3>
            <div class="flex gap-2 items-center flex-wrap justify-center">
                @for (dia of asuntosPropiosMostrarDiaSeleccionado(); track dia) {
                  <span class="p-1 text-white rounded" [style]="'background-color: ' + coloresEnum.asuntosPropios">{{ dia?.title }}</span>
                }
            </div>
         </div>
        }
        @if (enfermedadesMostrarDiaSeleccionado().length) {
         <div>
            <h3 class="text-center">Enfermedad</h3>
            <div class="flex gap-2 items-center flex-wrap justify-center">
                @for (dia of enfermedadesMostrarDiaSeleccionado(); track dia) {
                  <span class="p-1 text-white rounded" [style]="'background-color: ' + coloresEnum.enfermedad">{{ dia?.title }}</span>
                }
            </div>
         </div>
        }
        @if (otrosMostrarDiaSeleccionado().length) {
         <div class="text-center">
            <h3>Otros</h3>
            <div class="flex gap-2 items-center flex-wrap justify-center">
                @for (dia of otrosMostrarDiaSeleccionado(); track dia) {
                  <span class="p-1 text-white rounded" [style]="'background-color: ' + coloresEnum.otrasAusencias">{{ dia?.title }}</span>
                }
            </div>
         </div>
        }
    </div>
</p-dialog>