<p-toast/>

<p-confirmDialog styleClass="w-full sm:w-auto" draggable="false" >
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-col items-center w-full gap-3 border-bottom-1">
            <div class="flex w-full justify-between items-center gap-2">
                <i [ngClass]="{'invisible': message?.message?.includes('Se solicita una subida')}" [class]="'pi ' + (message?.icon ? message.icon : 'pi-exclamation-circle') + ' text-6xl text-primary-500'"></i>
                <i *ngIf="message?.message?.includes('Se solicita una subida')" class="cursor-pointer hover:!bg-slate-700 pi pi-copy bg-black text-white p-2 rounded" (click)="copiarMensajePortapapeles(message.message)" pTooltip="Copiar al portapapeles" tooltipPosition="left"></i>
            </div>
            <textarea *ngIf="message.message" class="w-full bg-transparent border-none p-0 resize-none" disabled>{{ message.message }}</textarea>
        </div>
    </ng-template>
</p-confirmDialog>

@if (sprint()) {
    <h1 class="flex items-center justify-between gap-2 mx-2">Sprint {{ sprintSeleccionado() }} <p-button label="Añadir subida" icon="pi pi-plus" class="mr-2 bg-diferente" (onClick)="nuevaSubida()"/></h1>
    <section class="flex flex-col gap-2 justify-center items-center">
      @for (subida of sprint()?.subidas; track subida) {
        <div class="card mb-8 w-full">
          <p-table
              #dt
              [value]="subida.elementosSubida!"
              [rowHover]="true"
              dataKey="id"
              [globalFilterFields]="['tipo', 'moduloSubido', 'usuariosSubida', 'completado']"
              responsiveLayout="stack"
              breakpoint="750px"
              [multiSortMeta]="[{field: 'tipo', order: -1}]"
              sortMode="multiple"
          >
              <ng-template #caption>
                <div class="flex items-center justify-between gap-2">
                    @if (subida?.idReferencia) {
                        <h4 class="m-0 p-0">ID referencia: <span class="text-blue-500 fw-bold">{{ subida?.idReferencia }}</span></h4>
                    } @else {
                        <p-button [ngClass]="{'invisible': subida?.entorno?.includes(entornos.DES)}" (onClick)="toPedirSubida()">
                            <span class="hidden sm:block">Pedir subida</span>
                            <i class="pi pi-question" pTooltip="Pedir subida"></i>
                        </p-button>
                    }
                    <h4 class="m-0 text-center">Subida a 
                        <span [ngClass]="{'text-green-500': subida?.entorno?.includes(entornos.DES), 'text-orange-500': subida?.entorno?.includes(entornos.PRE), 'text-red-500': subida?.entorno?.includes(entornos.PRO)}">{{ subida.entorno }}</span>
                        <span *ngIf="subida?.fechaSubida"> - </span>
                        <span [pTooltip]="esMismoDia(subida.fechaSubida) ? 'Es hoy la subida' : ''" [ngClass]="{'bg-blue-400 text-white p-1 rounded': esMismoDia(subida.fechaSubida)}">{{ obtenerFechaString(subida.fechaSubida!) }}</span>
                    </h4>
                    <div class="flex gap-3 items-center">
                        <p-button (onClick)="nuevoElementoSubida(subida.elementosSubida!)">
                            <span class="hidden sm:block">Añadir elemento</span>
                            <i class="pi pi-plus" pTooltip="Añadir elemento" tooltipPosition="left"></i>
                        </p-button>
                        <i class="pi pi-pen-to-square text-orange-400" pTooltip="Editar subida" tooltipPosition="left" (onClick)="editarSubida(subida)"></i>
                        <i class="pi pi-trash text-red-600" pTooltip="Eliminar subida" (onClick)="eliminarSubida(subida)"></i>
                    </div>
                </div>
              </ng-template>
              <ng-template #header>
                  <tr>
                      <th pSortableColumn="tipo">
                          Tipo Subida
                          <p-sortIcon field="tipo" />
                      </th>
                      <th pSortableColumn="moduloSubido">
                          Módulo subido
                          <p-sortIcon field="moduloSubido"/>
                      </th>
                      <th pSortableColumn="usuariosSubida">
                          Usuarios Subida
                          <p-sortIcon field="usuariosSubida" />
                      </th>
                      <th pSortableColumn="completado">
                          Completado
                          <p-sortIcon field="completado" />
                      </th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template #body let-elemento>
                  <tr>
                      <td><span class="flex justify-center w-full">{{ elemento?.tipo }}</span></td>
                      <td><span class="flex justify-center w-full">{{ elemento?.moduloSubido }}</span></td>
                      <td>
                          @for (usuarioSubida of elemento.usuariosSubida; track usuarioSubida.alias) {
                            <li class="flex items-center gap-2 my-2 w-full justify-center"><span>{{ usuarioSubida?.alias || usuarioSubida.nombre }}</span> <i *ngIf="usuarioSubida?.alias" class="pi pi-info-circle text-blue-500" [pTooltip]="usuarioSubida.nombre"></i></li>
                          }
                      </td>
                      <td>
                          <p-checkbox class="flex justify-center w-full" [(ngModel)]="elemento.completado" [binary]="true" />
                      </td>
                      <td>
                          <i class="pi pi-pencil mr-3 text-orange-500 cursor-pointer" (click)="editarElementoSubida(elemento)" pTooltip="Editar"></i>
                          <i class="pi pi-trash text-red-500 cursor-pointer" (click)="eliminarElementoSubida(elemento, subida.elementosSubida!)" pTooltip="Eliminar"></i>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
      } @empty {
        <div>
            No hay subidas en este Sprint por ahora.
        </div>
      }
    </section>
} @else {
    <p-progressSpinner mode="indeterminate" styleClass="mt-4"/>
}
