<p-toast/>

<p-confirmDialog styleClass="w-full sm:w-auto" draggable="false" >
    <ng-template pTemplate="message" let-message>
        <div class="flex flex-col items-center w-full gap-3 border-bottom-1">
            <div class="flex w-full items-center gap-2 {{message?.message?.includes('Se solicita una subida') ? 'justify-between' : 'justify-center'}}">
                <i [ngClass]="{'invisible': message?.message?.includes('Se solicita una subida')}" [class]="'pi ' + (message?.icon ? message.icon : 'pi-exclamation-circle') + ' text-6xl text-primary-500'"></i>
                <i *ngIf="message?.message?.includes('Se solicita una subida')" class="cursor-pointer hover:!bg-slate-700 pi pi-copy bg-black text-white p-2 rounded" (click)="copiarMensajePortapapeles(message.message)" pTooltip="Copiar al portapapeles" tooltipPosition="left"></i>
            </div>
            <textarea *ngIf="message.message" class="w-full bg-transparent border-none p-0 resize-none" [ngClass]="{'text-center': !message?.message?.includes('Se solicita una subida')}" disabled>{{ message.message }}</textarea>
        </div>
    </ng-template>
</p-confirmDialog>

@if (sprint()) {
    <h1 class="flex items-center justify-between gap-2 mx-2">
        <div class="flex gap-2 items-center">
            <span>Sprint {{ sprintSeleccionado() }}</span>
            <i class="cursor-pointer pi pi-pen-to-square text-orange-500" pTooltip="Editar número de Sprint" (click)="abrirEditarNumeroSprint()"></i>
        </div>
        <p-button label="Añadir subida" icon="pi pi-plus" class="mr-2 bg-diferente" (onClick)="subidaDialog = true"/>
    </h1>
    <section class="flex flex-col gap-2 justify-center items-center">
      @for (subida of sprint()?.subidas; track subida) {
        <div class="card mb-8 w-full">
          <p-table
              #dt
              [value]="subida.elementosSubida!"
              [rowHover]="true"
              dataKey="id"
              [globalFilterFields]="['tipo', 'moduloSubido', 'usuariosSubida', 'completado']"
              responsiveLayout="stack"
              breakpoint="750px"
              [multiSortMeta]="[{field: 'tipo', order: -1}]"
              sortMode="multiple"
          >
              <ng-template #caption>
                <div class="flex items-center justify-between gap-2">
                    @if (subida?.idReferencia) {
                        <h4 class="m-0 p-0">ID referencia: <span class="text-blue-500 fw-bold">{{ subida?.idReferencia }}</span></h4>
                    } @else {
                        <p-button [ngClass]="{'invisible': subida?.entorno?.includes(entornos.DES)}" (onClick)="toPedirSubida()">
                            <span class="hidden sm:block">Pedir subida</span>
                            <i class="pi pi-question" pTooltip="Pedir subida"></i>
                        </p-button>
                    }
                    <h4 class="m-0 flex flex-wrap gap-2 justify-center mb-1">Subida a 
                        <span [ngClass]="{'text-green-500': subida?.entorno?.includes(entornos.DES), 'text-orange-500': subida?.entorno?.includes(entornos.PRE), 'text-red-500': subida?.entorno?.includes(entornos.PRO)}">{{ subida.entorno }}</span>
                        <span *ngIf="subida?.fechaSubida">-</span>
                        <span [pTooltip]="esMismoDia(subida.fechaSubida) ? 'Es hoy la subida' : ''" [ngClass]="{'bg-blue-400 text-white p-1 rounded': esMismoDia(subida.fechaSubida)}">{{ obtenerFechaString(subida.fechaSubida!) }}</span>
                        @if(subida?.horaSubida) {
                            <span> a las <span class="rounded p-1 border border-solid border-blue-600">{{ obtenerHoraSubida(subida?.horaSubida) }}</span></span>
                        }
                    </h4>
                    <div class="flex gap-3 items-center">
                        <p-button (onClick)="abrirAnadirEditarElementoSubida(subida.fechaSubida!)">
                            <span class="hidden sm:block">Añadir elemento</span>
                            <i class="pi pi-plus" pTooltip="Añadir elemento" tooltipPosition="left"></i>
                        </p-button>
                        <i class="cursor-pointer pi pi-pen-to-square text-orange-400" pTooltip="Editar subida" tooltipPosition="left" (click)="abrirEditarSubida(subida)"></i>
                        <i class="cursor-pointer pi pi-trash text-red-600" pTooltip="Eliminar subida" (click)="eliminarSubida(subida.fechaSubida!)"></i>
                    </div>
                </div>
                <div class="flex items-center justify-center bg-blue-500 p-2 text-white text-center mt-1 gap-1 rounded">
                    <span>Responsable de subida:</span>
                    <span class="text-green-400"><b>{{ subida?.responsable?.alias || subida?.responsable?.nombre }}</b></span>
                    <i *ngIf="subida?.responsable?.alias" class="pi pi-info-circle" [pTooltip]="subida?.responsable?.nombre"></i>
                </div>
              </ng-template>
              <ng-template #header>
                  <tr>
                      <th pSortableColumn="tipo">
                          <div class="flex gap-2 justify-center items-center">
                            <span>Tipo Subida</span>
                            <p-sortIcon field="tipo" />
                          </div>
                      </th>
                      <th pSortableColumn="moduloSubido">
                        <div class="flex gap-2 justify-center items-center">
                            <span>Módulo subido</span>
                            <p-sortIcon field="moduloSubido"/>
                        </div>
                      </th>
                      <th pSortableColumn="usuariosSubida">
                        <div class="flex gap-2 justify-center items-center">
                            <span>Usuarios subida</span>
                            <p-sortIcon field="usuariosSubida"/>
                        </div>
                      </th>
                      <th pSortableColumn="completado">
                        <div class="flex gap-2 justify-center items-center">
                            <span>Completado</span>
                            <p-sortIcon field="completado"/>
                        </div>
                      </th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template #body let-elemento>
                  <tr>
                      <td><span class="flex justify-center w-full">{{ elemento?.tipo }}</span></td>
                      <td><span class="flex justify-center w-full">{{ elemento?.moduloSubido }}</span></td>
                      <td>
                          @for (usuarioSubida of elemento.usuariosSubida; track usuarioSubida.nombre) {
                            <li class="flex items-center gap-2 my-2 w-full justify-center"><span>{{ usuarioSubida?.alias || usuarioSubida.nombre }}</span> <i *ngIf="usuarioSubida?.alias" class="pi pi-info-circle text-blue-500" [pTooltip]="usuarioSubida.nombre"></i></li>
                          }
                      </td>
                      <td>
                          <p-checkbox class="flex justify-center w-full" [(ngModel)]="elemento.completado" (change)="guardarCambiosElemento()" [binary]="true" />
                      </td>
                      <td>
                          <i class="pi pi-pencil mr-3 text-orange-500 cursor-pointer" (click)="abrirAnadirEditarElementoSubida(subida.fechaSubida!, elemento)" pTooltip="Editar"></i>
                          <i class="pi pi-trash text-red-500 cursor-pointer" (click)="eliminarElementoSubida(subida.fechaSubida!, elemento)" pTooltip="Eliminar"></i>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
      } @empty {
        <div>
            No hay subidas en este Sprint por ahora.
        </div>
      }
    </section>
} @else {
    <div class="flex justify-center">
        <p-progressSpinner mode="indeterminate" styleClass="mt-4"/>
    </div>
}

<!-- Dialogos -->
<!-- Anadir/Editar Subida -->
<p-dialog 
    [(visible)]="subidaDialog" 
    [modal]="true" 
    [dismissableMask]="false"
    draggable="false"
    maximizable
    styleClass="p-3 w-[500px]"
    (onShow)="ponerFocusInputPrincipal()"
    (onHide)="formSubida.reset()"
>
    <ng-template pTemplate="header">
        <h2>{{ formSubida.get('fechaSubidaAnterior')?.value ? 'Editar' : 'Añadir' }} subida</h2>
    </ng-template>
    
    <form [formGroup]="formSubida" (ngSubmit)="aplicarSubida()" (keydown.enter)="aplicarSubida()" class="flex flex-col items-center gap-4 w-full pt-2">
        <p-floatlabel variant="on" class="w-full">
            <p-autoComplete 
                formControlName="entorno"
                [suggestions]="listaFiltradaEntornos"
                (completeMethod)="filterEntornos($event)"
                completeOnFocus
                dropdown
                [forceSelection]="true"
                #inputPrincipal
                styleClass="w-full"
                class="w-full"
                appendTo="body"
                showClear
                >
                    <ng-template let-elemento pTemplate="item">
                        <span class="text-wrap">{{ elemento }}</span>
                    </ng-template>
            </p-autoComplete>
            <label for="entorno">Entorno*</label>
        </p-floatlabel>
        @if (formSubida.get('entorno')?.touched && formSubida.get('entorno')?.invalid) {
            <p-message severity="error" class="w-full">El entorno es obligatorio</p-message>
        }

        <p-floatlabel variant="on" class="w-full">
            <p-autoComplete 
                formControlName="responsable"
                [suggestions]="listaFiltradaResponsables"
                (completeMethod)="filterResponsables($event)"
                completeOnFocus
                dropdown
                [forceSelection]="true"
                styleClass="w-full"
                class="w-full"
                appendTo="body"
                showClear
                optionLabel="nombre"
                >
                    <ng-template let-elemento pTemplate="item">
                        <div class="flex gap-2 flex-wrap items-center w-full justify-between">
                            <div class="flex gap-2 items-center">
                                <span class="text-wrap">{{ elemento?.alias || elemento?.nombre }}</span>
                                <i *ngIf="elemento?.alias" class="pi pi-info-circle" [pTooltip]="elemento.nombre"></i>
                            </div>
                            <div class="flex gap-2 items-center">
                                <span tooltipPosition="left" [pTooltip]="'Veces responsable en los últimos ' + limiteSprintsVecesResponsable + ' sprints'" class="text-white p-1 bg-green-500 rounded">{{ elemento?.vecesResponsableUltimosSprints || 0 }}</span>
                                <!-- Util para seleccionar subidas -->
                                <!-- <span tooltipPosition="left" [pTooltip]="'Dists generados en los últimos ' + limiteSprintsContarSubidas + ' sprints'" class="text-white p-1 bg-blue-500 rounded">{{ elemento?.distsUltimosSprints || 0 }}</span>
                                <span tooltipPosition="left" [pTooltip]="'Wars generados en los últimos ' + limiteSprintsContarSubidas + ' sprints'" class="text-white p-1 bg-orange-500 rounded">{{ elemento?.warsUltimosSprints || 0 }}</span>
                                <span tooltipPosition="left" [pTooltip]="'Ears generados en los últimos ' + limiteSprintsContarSubidas + ' sprints'" class="text-white p-1 bg-red-500 rounded">{{ elemento?.earsUltimosSprints || 0 }}</span> -->
                            </div>
                        </div>
                    </ng-template>
            </p-autoComplete>
            <label for="entorno">Responsable*</label>
        </p-floatlabel>
        @if (formSubida.get('responsable')?.touched && formSubida.get('responsable')?.invalid) {
            <p-message severity="error" class="w-full">El responsable es obligatorio</p-message>
        }

        <p-floatlabel variant="on" class="w-full">
            <p-datepicker showClear [firstDayOfWeek]="1" appendTo="body" formControlName="fechaSubida" [iconDisplay]="'input'" [showIcon]="true" class="w-full" styleClass="w-full" inputId="fechaSubida" dateFormat="dd/mm/yy"/>
            <label for="fechaSubida">Fecha Subida*</label>
        </p-floatlabel>
        @if (formSubida.get('fechaSubida')?.touched && formSubida.get('fechaSubida')?.invalid) {
            <p-message severity="error" class="w-full">La fecha de subida es obligatoria</p-message>
        }

        <p-floatlabel variant="on" class="w-full">
            <p-datepicker showClear (onFocus)="aplicarHoraSubidaActual()" formControlName="horaSubida" [iconDisplay]="'input'" [showIcon]="true" class="w-full" styleClass="w-full" inputId="horaSubida" [timeOnly]="true" appendTo="body">
                <ng-template #inputicon let-clickCallBack="clickCallBack">
                    <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                </ng-template>
            </p-datepicker>
            <label for="horaSubida">Hora Subida</label>
        </p-floatlabel>

        <p-floatlabel variant="on" class="w-full" *ngIf="formSubida?.get('entorno')?.value != entornos.DES">
            <input pInputText inputId="idReferencia" id="idReferencia" #idReferencia class="flex-auto w-full text-lg" autocomplete="off" formControlName="idReferencia"/>
            <label for="idReferencia">ID referencia petición</label>
        </p-floatlabel>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="subidaDialog = false" 
            />
            <p-button 
                [label]="this.formSubida.get('fechaSubidaAnterior')?.value ? 'Editar' : 'Añadir'" 
                (onClick)="aplicarSubida()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Anadir/Editar Elemento -->
<p-dialog 
    [(visible)]="elementoDialog" 
    [modal]="true" 
    [dismissableMask]="false"
    draggable="false"
    maximizable
    styleClass="p-3 w-[500px]"
    (onShow)="ponerFocusInputPrincipal()"
    (onHide)="formElemento.reset()"
>
    <ng-template pTemplate="header">
        <h2>{{ formElemento.get('tipoAnterior')?.value && formElemento.get('moduloSubidoAnterior')?.value ? 'Editar' : 'Añadir' }} elemento</h2>
    </ng-template>
    
    <form [formGroup]="formElemento" (ngSubmit)="aplicarElementoSubida()" (keydown.enter)="aplicarElementoSubida()" class="flex flex-col items-center gap-4 w-full pt-2">
        <p-floatlabel variant="on" class="w-full">
            <p-autoComplete 
                formControlName="tipo"
                [suggestions]="listaFiltradaTiposElementos"
                (completeMethod)="filterTiposElementos($event)"
                completeOnFocus
                dropdown
                [forceSelection]="true"
                #inputPrincipal
                styleClass="w-full"
                class="w-full"
                appendTo="body"
                showClear
                >
                    <ng-template let-elemento pTemplate="item">
                        <span class="text-wrap">{{ elemento }}</span>
                    </ng-template>
            </p-autoComplete>
            <label for="tipo">Tipo*</label>
        </p-floatlabel>
        @if (formElemento.get('tipo')?.touched && formElemento.get('tipo')?.invalid) {
            <p-message severity="error" class="w-full">El tipo de elemento es obligatorio</p-message>
        }

        <p-floatlabel variant="on" class="w-full" *ngIf="formElemento?.get('tipo')?.value == tiposElementos.dist">
            <p-autoComplete 
                formControlName="moduloSubido"
                [suggestions]="listaFiltradaModulos"
                (completeMethod)="filterModulos($event)"
                dropdown
                completeOnFocus
                [forceSelection]="true"
                styleClass="w-full"
                class="w-full"
                appendTo="body"
                showClear
                optionLabel="nombre"
                optionValue="nombre"
                >
                    <ng-template let-elemento pTemplate="item">
                        <div class="flex gap-2 flex-wrap items-center w-full justify-between">
                            <div class="flex gap-2 items-center">
                                <span class="text-wrap">{{ elemento?.nombre }}</span>
                            </div>
                        </div>
                    </ng-template>
            </p-autoComplete>
            <label for="moduloSubido">Módulo subido*</label>
        </p-floatlabel>
        @if (formElemento.get('moduloSubido')?.dirty && formElemento.get('moduloSubido')?.invalid) {
            <p-message severity="error" class="w-full">El módulo del elemento es obligatorio</p-message>
        }

        <p-floatlabel variant="on" class="w-full">
            <p-autoComplete 
                formControlName="usuariosSubida"
                [suggestions]="listaFiltradaUsuariosSubida"
                (completeMethod)="filterUsuariosSubida($event)"
                dropdown
                completeOnFocus
                [forceSelection]="true"
                multiple
                styleClass="w-full"
                class="w-full"
                appendTo="body"
                showClear
                optionLabel="nombre"
                >
                    <ng-template let-elemento pTemplate="item">
                        <div class="flex gap-2 flex-wrap items-center w-full justify-between">
                            <div class="flex gap-2 items-center">
                                <span class="text-wrap">{{ elemento?.alias || elemento?.nombre }}</span>
                                <i *ngIf="elemento?.alias" class="pi pi-info-circle" [pTooltip]="elemento.nombre"></i>
                                @if (this.formElemento.get('moduloSubido')?.value && usuarioEstaEnModuloSubido(elemento)) {
                                    <i class="pi pi-th-large text-blue-500 font-bold" [pTooltip]="'Este usuario está en el módulo de ' + this.formElemento.get('moduloSubido')?.value"></i>
                                }
                            </div>
                            <div class="flex gap-2 items-center">
                                <!-- Util para seleccionar subidas -->
                                <span *ngIf="!this.formElemento.get('tipo')?.value || this.formElemento.get('tipo')?.value == tiposElementos.dist" tooltipPosition="left" [pTooltip]="'Dists generados en los últimos ' + limiteSprintsContarSubidas + ' sprints'" class="text-white p-1 bg-blue-500 rounded">{{ elemento?.distsUltimosSprints || 0 }}</span>
                                <span *ngIf="!this.formElemento.get('tipo')?.value || this.formElemento.get('tipo')?.value == tiposElementos.war" tooltipPosition="left" [pTooltip]="'Wars generados en los últimos ' + limiteSprintsContarSubidas + ' sprints'" class="text-white p-1 bg-orange-500 rounded">{{ elemento?.warsUltimosSprints || 0 }}</span>
                                <span *ngIf="!this.formElemento.get('tipo')?.value || this.formElemento.get('tipo')?.value == tiposElementos.ear" tooltipPosition="left" [pTooltip]="'Ears generados en los últimos ' + limiteSprintsContarSubidas + ' sprints'" class="text-white p-1 bg-red-500 rounded">{{ elemento?.earsUltimosSprints || 0 }}</span>
                            </div>
                        </div>
                    </ng-template>
            </p-autoComplete>
            <label for="usuariosSubida">Usuarios subida</label>
        </p-floatlabel>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="elementoDialog = false" 
            />
            <p-button 
                [label]="formElemento.get('tipoAnterior')?.value && formElemento.get('moduloSubidoAnterior')?.value ? 'Editar' : 'Añadir'" 
                (onClick)="aplicarElementoSubida()" 
            />
        </div>
    </ng-template>
</p-dialog>

<!-- Editar numero de sprint -->
<p-dialog 
    [(visible)]="numeroSprintDialog" 
    [modal]="true" 
    [dismissableMask]="false"
    draggable="false"
    maximizable
    styleClass="p-3 w-[500px]"
    (onHide)="formNumeroSprint.reset()"
>
    <ng-template pTemplate="header">
        <h2>Editar número de Sprint</h2>
    </ng-template>
    
    <form [formGroup]="formNumeroSprint" (ngSubmit)="aplicarEditarNumeroSprint()" (keydown.enter)="aplicarEditarNumeroSprint()" class="flex flex-col items-center gap-4 w-full pt-2">
        <p-inputnumber formControlName="numeroSprint" [showButtons]="true" buttonLayout="vertical" spinnerMode="vertical" inputId="vertical" [inputStyle]="{ width: '3rem' }">      </p-inputnumber>
        @if (formNumeroSprint.get('numeroSprint')?.touched && formNumeroSprint.get('numeroSprint')?.invalid) {
            <p-message severity="error" class="w-full">El número de Sprint es obligatorio y superior a 0</p-message>
        }
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 p-2">
            <p-button 
                label="Cancelar" 
                [text]="true" 
                styleClass="cancel"
                (onClick)="numeroSprintDialog = false" 
            />
            <p-button 
                label="Editar" 
                (onClick)="aplicarEditarNumeroSprint()" 
            />
        </div>
    </ng-template>
</p-dialog>
